.App {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.title {
  font-size: 3.4rem;
  text-align: center;
}
